/* 清除样式 */
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 设置wrapper的宽度并且居中 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid transparent;
}

/*  ============顶栏样式============ */

/* 设置顶栏的背景色，下边框 */
.dinglan{
    background-color: #fafafa;
    height: 35px;
    border-bottom: 1px solid #ccc;
}

/* 将城市浮动 */
.dinglan > .wrapper > .left{
    float: left;
}

/* 设置城市字体样式 */
.dinglan > .wrapper > .left > ul{
    line-height: 35px;
}

/* 将城市li浮动 *//* 调整城市和切换城市之间的距离 */
.dinglan > .wrapper > .left > ul > li{
    float: left;
    margin-right: 10px;
}

/* 调节城市字体样式 */
.dinglan > .wrapper > .left > ul > li:first-child{
    font-size: 18px;
    color: #058cfa;
    font-weight: bold;
}

/* 调节城市字体样式 */
.dinglan > .wrapper > .left > ul > li:last-child{
    font-size: 14px;
    color: #9999b2;
    font-weight: bold;
}


/* 将右侧导航浮动到右侧 */
.dinglan > .wrapper > .right{
    float: right;
}

/* 设置字体样式 */
.dinglan > .wrapper > .right > ul{
    line-height: 35px;
    text-align: center;
}

/* 将一级导航浮动, 调节之间的距离 */
.dinglan > .wrapper > .right > ul > li{
    float: left;
    width: 100px;
    position: relative;
    font-size: 13px;
    cursor: pointer;
}

/* 设置二级导航样式 */
.dinglan > .wrapper > .right > ul > li > div.erji > ul{
    position: absolute;
    width: 100%;
    background-color: #fff;
    display: none;
    color: #333;
    z-index: 100;
}

/* 设置二级导航悬浮样式 */
.dinglan > .wrapper > .right > ul > li > div.erji > ul > li:hover{
    color: orange;
    background-color: #ededed;
}


/* 浮动到一级导航显示二级导航 */
.dinglan > .wrapper > .right > ul > li:hover > div.erji > ul{
    display: block;
}

/* 设置浮动到li改变背景色 */
.dinglan > .wrapper > .right > ul > li:hover{
    background-color: #fff;
    color: orange;
}

.dinglan > .wrapper > .right > ul > li  a{
    text-decoration: none;
    color: #333;
}

.dinglan > .wrapper > .right > ul > li:hover  a{
    background-color: #fff;
    color: orange;
}

/* ============顶栏样式============ */

/* ============中间logo、搜索样式============  */

/* 设置高度 */
.logo_search{
    height: 130px;
}

.logo_search > .wrapper{
    position: relative;
    border-bottom: 1px solid #9999b2;
    padding-bottom: 20px;
}

/* 调节左边logo的位置以及大小 */
.logo_search > .wrapper > .left{
    height: 100px;
    width: 250px;
    margin-top: 15px;
    float: left;
    overflow: hidden;
}

/* 调整图片大小 */
.logo_search > .wrapper > .left > img{
    width: 100%;
}

/* 将搜索栏与字体向右移 */
.logo_search > .wrapper > .center{
    margin-left: 400px;
    margin-top: 35px;
}

/* 将搜索栏浮动 */
.logo_search > .wrapper > .center > .search > div.input{
    float: left;
}

/* 调节字体样式 */
.logo_search > .wrapper > .center > .search > p{
    width: 80px;
    text-align: center;
    margin-left: 430px;
    height: 40px;
    line-height: 40px;
    background-color: #058cfa;
    color: #fff;
}

/* 调节搜索框的样式 */
.logo_search > .wrapper > .center > .search > div.input > input{
    width: 430px;
    height: 40px;
    border: 3px solid #058cfa;
}

/* 调节job的位置以及样式 */
.logo_search > .wrapper > .center > .job{
    margin-top: -10px;
    font-size: 13px;
}

.logo_search > .wrapper > .center > .job > span{
    margin-right: 10px;
}

/* 调整按钮的位置以及样式 */
.logo_search > .wrapper > .right{
    position: absolute;
    right: 0;
    top: 45px;
    
}

/* 调整按钮和字体的样式 */
.logo_search > .wrapper > .right > button{
    color: #fff;
    font-weight: bold;

}

/* 调整图标与字体之间的距离 */
.logo_search > .wrapper > .right span{
    margin-right: 10px;
}

/* ============中间logo、搜索样式============  */

/* ============地点、职位、福利============  */

/* 调整zhiwei的样式 */
.heji .zhiwei{
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.heji .zhiwei::after{
    content: "";
    display: block;
    clear: both;
}




/* 让current span有样式 */
.current{
    background-color: #058cfa;
    color: #fff;
}


#zhiwei > ul > li{
    float: left;
    
    text-align: center;
    width: 70px;
    cursor: pointer;
    padding:5px 0px;
}


#zhiwei > ul > li:first-child{
    font-weight: bold;
}

#zhiwei > ul > li:hover > div.erji > ul{
    display: block;
}

#zhiwei > ul > li > div.erji{
    position: absolute;
}

#zhiwei > ul > li > div.erji > ul{
    
    text-align: center;
    line-height: 2em;
    /* width: 100%; */
    /* width: 1200px; */
    height: 100px;
    overflow: auto;
    line-height: 50px;
    background-color:#fff;
    color: #333;
    display: none;
    font-size: 15px;
    
}

#zhiwei > ul > li > div.erji > ul > li{
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 0px 10px;

}



/* ================================================================ */
.heji .didian{
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.heji .didian::after{
    content: "";
    display: block;
    clear: both;
}

/* 让current span有样式 */
.current{
    background-color: #058cfa;
    color: #fff;
}


#didian > ul > li{
    float: left;
    
    text-align: center;
    width: 70px;
    cursor: pointer;
    padding:5px 0px;
}


#didian > ul > li:first-child{
    font-weight: bold;
}

#didian > ul > li:hover > div.erji > ul{
    display: block;
}

#didian > ul > li > div.erji{
    position: absolute;
}

#didian > ul > li > div.erji > ul{
    
    text-align: center;
    line-height: 2em;
    /* width: 100%; */
    /* width: 1200px; */
    height: 50px;
    line-height: 50px;
    background-color:#fff;
    color: #333;
    display: none;
    font-size: 15px;
    overflow: auto;
    
}

#didian > ul > li > div.erji > ul > li{
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 0px 10px;

}

/*  */
.heji .fuli{
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.heji .fuli::after{
    content: "";
    display: block;
    clear: both;
}

/* 让current span有样式 */
.current{
    background-color: #058cfa;
    color: #fff;
}


#fuli > ul > li{
    float: left;
    
    text-align: center;
    width: 70px;
    cursor: pointer;
    padding:5px 0px;
}


#fuli > ul > li:first-child{
    font-weight: bold;
}

#fuli > ul > li:hover > div.erji > ul{
    display: block;
}

#fuli > ul > li > div.erji{
    position: absolute;
}

#fuli > ul > li > div.erji > ul{
    
    text-align: center;
    line-height: 2em;
    /* width: 100%; */
    /* width: 1200px; */
    height: 500px;
    line-height: 50px;
    background-color:#fff;
    color: #333;
    display: none;
    font-size: 15px;
    
}

#fuli > ul > li > div.erji > ul > li{
    float: left;
    text-align: center;
    cursor: pointer;
    padding: 0px 10px;

}


/* ============地点、职位、福利============  */

/* ============已选============  */

/* 设置wrapper的上边距 */
.yixuan > .wrapper{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #058cfa;
}

/* 设置框框的样式 */

.yixuan > .wrapper::after{
    content: "";
    clear: both;
    display: block;
}

/* 设置字体样式 */
.yixuan > .wrapper > div{
    float: left;
    font-weight: bold;
}

/* 设置边框 */
.yixuan > .wrapper > p{
    border: 1px solid #ccc;
    width:170px;
    margin-left: 50px;
    text-align: center;
}

/* 设置图标与字之间的距离 */
.yixuan > .wrapper span{
    margin-left: 10px;
    font-size: 12px;
}

/* ============已选============  */

/* ============工作============  */

/* 调节左边字体样式 */
.gongzuo .left > p:first-child{
    font-weight: bold;
    font-size: 20px;
}

.gongzuo .left > p:nth-child(2){
    color: orangered;
    font-size: 18px;
    font-weight: bold;
}

.gongzuo .left > p:nth-child(3) > span{
    font-size: 13px;
    padding: 5px 10px;
}

/* 让left悬浮 */
.gongzuo > .wrapper > .information > .left{
    float: left;
}

.gongzuo > .wrapper > .information{
    border: 1px solid transparent;
}

/* 让中心向右移 */
.gongzuo .center{
    margin-top: 15px;
    margin-left: 400px;
}

/* 调节中心字体样式 */
.gongzuo .center > .top > span{
    font-size: 14px;
}

.gongzuo .center > .buttom > span{
    font-size: 14px;
}

.gongzuo > .wrapper > .information{
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid #9999b2;
    height: 150px;
}

.gongzuo .right{
    position: absolute;
    right: 0;
    top: 20px;;
}

.gongzuo .right > button{
    padding: 8px 40px;
    font-weight: bold;
}

.fenye{
    margin-top: 20px;
}
/* ============工作============  */

/* ============模态框============  */

#baomingModal form > .form-group > .row > label{
    margin-top: 5px;
}

#baomingModal form .buttons_sex > span{
    border: 1px solid #9999b2;
    padding: 5px 22px;
    margin-right: 20px;
    margin-left: -12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1px;
    display: inline-block;
}

#baomingModal form .buttons_sex > span.current{
    border: 2px solid orange;
    background-color: #fff;
    color: #333;
}

#baomingModal form > .row > button{
    margin-top: 20px;
}

#baomingModal form > p{
    margin-top: 30px;
    font-size: 14px;
}

#baomingModal form > .form-group{
    margin-top: 30px;
}

/* ============模态框============  */
